<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
    <h2>Cadastrar novo usuário</h2>
    <form action="/cadastro" method="post" enctype="multipart/form-data">
        <input type="text" name="username" placeholder="Usuário" required><br>
        <input type="password" name="pin" placeholder="PIN" required><br>
        <input type="file" name="foto" accept="image/*" required><br>
        <button type="submit">Cadastrar</button>
    </form>

    <br>
    <button onclick="cadastrarBiometria()">Cadastrar Biometria</button>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
