<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>QR Code</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            margin-top: 50px;
        }
        img {
            max-width: 200px;
            margin: 10px;
        }
    </style>
    <script>
        setTimeout(() => {
            window.location.href = "/";
        }, 4000); // 4 segundos
    </script>
</head>
<body>
    <h2>Bem-vindo!</h2>
    <p>Esse QR ficará visível por 4 segundos.</p>

    {% if foto %}
        <img src="{{ url_for('static', filename='uploads/' + foto) }}" alt="Foto do usuário">
    {% endif %}

    <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
</body>
</html>
